extends layout
block content
  #banner.page-header
    .row 
      .col-lg-6
        h1 
          | MekanBul 
          small &nbsp; Civardaki mekanları keşvet!
    .row 
      .row.list-group 
      .col-xs-12.col-sm-12 
        .col-xs-12.list-group-item
          h4 
            a(href='/mekan') Hanedan Restaurant & Steak Isparta
            small &nbsp;
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
          span.badge.pull-right.badge-default 7km
          p.address Isparta Merkez  
          p   
            span.label.label-warning Kuzu Çöp Şiş
            | &nbsp;
            span.label.label-warning Mantarlı Kebab
            | &nbsp;
            span.label.label-warning Tavuk Pirzola


    .row 
      .row.list-group 
      .col-xs-12.col-sm-12 
        .col-xs-12.list-group-item
          h4 
            a(href='/mekan') Uğur Pide
            small &nbsp;
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
          span.badge.pull-right.badge-default 700m
          p.address Isparta Merkez 
          p   
            span.label.label-warning Kıymalı Yumurtalı Pide
            | &nbsp;
            span.label.label-warning Kıymalı Pide
            | &nbsp;
            span.label.label-warning Lahmacun


    .row 
      .row.list-group 
      .col-xs-12.col-sm-12 
        .col-xs-12.list-group-item
          h4 
            a(href='/mekan') Antre CADDE
            small &nbsp;
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
          span.badge.pull-right.badge-default 3km
          p.address Isparta Merkez  
          p   
            span.label.label-warning Cheeseburger
            | &nbsp;
            span.label.label-warning Lokum Burger
            | &nbsp;
            span.label.label-warning Texas Burger
